.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}


/* mediaquery  */


@media screen and (max-width: 420px) {
  
  *{
    padding: 0;
    margin: 0;
    float: none;
  }

  .row{
    padding: 2rem 0;
    margin: 0;
  }


/* prima sezione */

  #lezioni{
    background-color:#F2F2D1;
  }

  #lezioni .row{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }
  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 100%;
  }

  #lezioni .row>.left img,
  #lezioni .row>.right img{
    transform: scale(.7, .7);
  }


  /* seconda sezione */

  #steps .row{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    width: 100%;
    margin: 2rem 0;
  }
  
  #steps .row>.left img,
  #steps .row>.right img{
    transform: scale(.7, .7);
  }



  /* terza sezione */

  #why{
    background-color:#F2F2D1;
  }

  #why .row{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }
  
  
  
  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
  width: 100%;
  margin-top: 80px;
  }

  #why .row>.first img,
  #why .row>.second img,
  #why .row>.third img{
    transform: scale(.7, .7);
  }

}